section.advantages
  .container.advantages__container
    h2.advantgaes__title Наши преимущества <span>- ваши выгоды</span>
    .advantages__picture
      .advantages__picture-inner
        picture
          source(type="image/webp" media="(min-width: 768px)" srcset="img/kaska.webp")
          source(type="image/webp" srcset="img/kaska_mobile.webp")
          source(media="(min-width: 768px)"  srcset="img/kaska.png" alt="")
          img(src="img/kaska_mobile.png" alt="")
    .advantages__slider
      .advantages__slide-list
        .advantgaes__slide-item
          h3 Экономьте до 40%
          p Вся ответственность за юридическое оформление персонала, отчисления в пенсионный, медицинский и страховой фонды, уплата налогов и проживание сотрудников лежит на нашей компании. Эта сумма уже включена в стоимость услуги.
        .advantgaes__slide-item
          h3 Материальную ответственность берем на себя
          p В случае форс-мажора все наши работники несут полную ответственность, так как это прописано в договоре.
        .advantgaes__slide-item
          h3 Оплачивайте только фактическое время работы
          p Выберите любой удобный способ оплаты: за человеко-час или за результат. Не платите за простои и корректируйте количество необходимых работников в процессе выполнения работ.
        .advantgaes__slide-item
          h3 Обеспечиваем полный контроль выполняемых работ
          p Мы строго следим за тем, чтобы условия договора выполнялись неукоснительно. Менеджеры по управлению объектами работают 24/7.
