section.clients
  .container.clients__container
    h2.clients__title Наши клиенты
    p Абсолютно все федеральные ритейл сети России являются
    .clients__list
      .animate__animated.animate__fadeInUp.wow.clients__item
        img(src="img/clients1.png" alt="")
      .animate__animated.animate__fadeInUp.wow.clients__item
        img(src="img/clients2.png" alt="")
      .animate__animated.animate__fadeInUp.wow.clients__item
        img(src="img/clients3.png" alt="")
      .animate__animated.animate__fadeInUp.wow.clients__item
        img(src="img/clients4.png" alt="")
      .animate__animated.animate__fadeInUp.wow.clients__item
        img(src="img/clients5.png" alt="")
      .animate__animated.animate__fadeInUp.wow.clients__item
        img(src="img/clients6.png" alt="")
      .animate__animated.animate__fadeInUp.wow.clients__item
        img(src="img/clients7.png" alt="")
      .animate__animated.animate__fadeInUp.wow.clients__item
        img(src="img/clients8.png" alt="")
      .animate__animated.animate__fadeInUp.wow.clients__item
        img(src="img/clients9.png" alt="")
      .animate__animated.animate__fadeInUp.wow.clients__item
        img(src="img/clients10.png" alt="")
