section.contacts
  .container.contacts__container
    .contacts__text-block
      h2.contacts__title Наши контакты
      h3 Адрес
      p г. Уфа<br> ул. Ф.Гаскарова дом 7
      h3 Бесплатный звонок по РФ
      a.contacts__tel(href="tel:+79033111305") +7 (903) 331 13 05
      p Email
      a.contacts__mail(href="mailto:info@trudogo.ru") info@trudogo.ru
      button Заказать консультацию
    .contacts__map-blcok
      
