section.contacts1
  .container.contacts1__container
    .contacts1__text-block
      h2.contacts1__title Наши <span>контакты</span>
      h3 Адрес
      p г. Уфа, ул. Ф.Гаскарова дом 7
      h3 Бесплатный звонок по РФ
      a.contacts1__tel(href="tel:+79033111305") +7 (903) 331 13 05
      h3 Email
      a.contacts1__mail(href="mailto:info@trudogo.ru") info@trudogo.ru
    .contacts1__map-block
      <a class="dg-widget-link" href="http://2gis.ru/ufa/firm/70000001029576637/center/55.9974217414856,54.68958540418163/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Уфы</a><div class="dg-widget-link"><a href="http://2gis.ru/ufa/firm/70000001029576637/photos/70000001029576637/center/55.9974217414856,54.68958540418163/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a></div><div class="dg-widget-link"><a href="http://2gis.ru/ufa/center/55.997423,54.68935/zoom/16/routeTab/rsType/bus/to/55.997423,54.68935╎ТРУДОГО, аутсорсинговая компания?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до ТРУДОГО, аутсорсинговая компания</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":640,"height":480,"borderColor":"#a3a3a3","pos":{"lat":54.68958540418163,"lon":55.9974217414856,"zoom":16},"opt":{"city":"ufa"},"org":[{"id":"70000001029576637"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
