section.girl-form
  .container.girl-form__container
    .girl-form__wrapper
      .girl-form__text-block
        span Остались вопросы?
        span Позвоните нам по телефону:
        a.girl-form__tel(href="tel:+79033111305") +7 (903) 331 13 05
        p.girl-form__little или оставьте заявку на бесплатную<br> консультацию, и мы сами Вам перезвоним
        button.girl-form__button Заказать консультацию
      picture
        source(type="image/webp" media="(min-width: 420px)" srcset="img/girl.webp")
        source(type="image/webp" srcset="img/girl_mobile.webp")
        source(media="(min-width: 420px)"  srcset="img/girl.png" alt="")
        img(src="img/girl_mobile.png" alt="")
