section.girl-form
  .container.girl-form__container
    .girl-form__wrapper
      .animate__animated.animate__slideInLeft.wow.girl-form__text-block
        span Остались вопросы?
        span Позвоните нам по телефону:
        a.girl-form__tel(href="tel:+79033111305") +7 (903) 331 13 05
        p.girl-form__little или оставьте заявку на бесплатную<br> консультацию, и мы сами Вам перезвоним
        button.form__button.girl-form__button Перезвоните мне
      picture.animate__animated.animate__slideInRight.wow
        source(type="image/webp" media="(min-width: 420px)" srcset="img/girl.webp")
        source(type="image/webp" srcset="img/girl_mobile.webp")
        source(media="(min-width: 420px)"  srcset="img/girl.png" alt="")
        img(src="img/girl_mobile.png" alt="")
