section.main-slider
  .container.main-slider__container
    h1.main-slider__title Аутсорсинг рабочего персонала
    span Обеспечим полное управление кадрами в любой коммерческой сфере
    picture
      source(type="image/webp" srcset="img/main-slider-img_mobile.webp")
      img(src="img/main-slider-img_mobile.png" width="320" height="271" alt="")
