section.main-slider
  .container.main-slider__container
    .main-slider__wrapper
      h1.main-slider__title Аутсорсинг рабочего персонала
      span Обеспечим полное управление кадрами в любой коммерческой сфере
      picture
        source(type="image/webp" media="(min-width: 768px)" srcset="img/main-slider-img.webp")
        source(type="image/webp" srcset="img/main-slider-img_mobile.webp")
        source(media="(min-width: 768px)"  srcset="img/main-slider-img.png" alt="")
        img(src="img/main-slider-img_mobile.png" alt="")
      button.main-slider__button.form-button Рассчёт стоимости
