section.main-slider
  .container.main-slider__container
    .main-slider__wrapper
      h1.animate__animated.animate__slideInLeft.wow.main-slider__title Аутсорсинг рабочего персонала
      span.animate__animated.animate__slideInLeft.wow Обеспечим полное управление кадрами в любой коммерческой сфере
      picture.animate__animated.animate__slideInRight.wow
        source(type="image/webp" media="(min-width: 768px)" srcset="img/main-slider-img.webp")
        source(type="image/webp" srcset="img/main-slider-img_mobile.webp")
        source(media="(min-width: 768px)"  srcset="img/main-slider-img.png" alt="")
        img(src="img/main-slider-img_mobile.png" alt="")
      button.animate__animated.animate__slideInLeft.wow.form__button.main-slider__button Заказать консультацию
