section.o-kompanii
  .container.o-kompanii__container
    h1.o-kompanii__title О нас
    .o-kompanii__img-right
      picture
        source(type="image/webp" srcset="img/o-kompanii1.webp")
        img.animate__animated.animate__slideInRight.wow.o-kompanii__img(src="img/o-kompanii1.png" alt="")
      .animate__animated.animate__slideInLeft.wow.o-kompanii__text
        strong.o-kompanii__main-text <span>TRUDOGO</span> - это аутсорсинг, решающий бизнес задачи партнеров. Мы существуем для того, чтобы превращать кадровые проблемы в эффективные решения!
        hr
        strong Работая с нами, вы выбираете Легальный рабочий персонал со всеми подтверждающими документами.
        ul
          li Большой кадровый резерв, сформированный из мотивированного и обученного персонала. 
          li Прозрачные и гарантированные договором условия сотрудничества.
          li Оперативную замену рабочих без потери времени. Четкую систему построенную профессионалами.
    .o-kompanii__img-left
      picture
        source(type="image/webp" srcset="img/o-kompanii2.webp")
        img.animate__animated.animate__slideInRight.wow.o-kompanii__img(src="img/o-kompanii2.png" alt="")
      .animate__animated.animate__slideInLeft.wow.o-kompanii__text
        p Наша компания появилась не просто так, мы масштабировали бизнес из собственного кейса.
        p Немного истории. Когда нам нужно было эффективное решение по подбору временного персонала на производство блоков, ни одна компания не смогла качественно ответить на наш запрос. Тогда мы сделали все сами, все вышло так хорошо, что было принято решение распаковать кейс и масштабировать его.
    .o-kompanii__img-right
      picture
        source(type="image/webp" srcset="img/o-kompanii3.webp")
        img.animate__animated.animate__slideInRight.wow.o-kompanii__img(src="img/o-kompanii3.png" alt="")
      .animate__animated.animate__slideInLeft.wow.o-kompanii__text
        p Мы в команде TRUDOGO заботимся не только о том, чтобы наши партнёры чувствовали себя комфортно в вопросах найма персонала. Так же для нас важно обеспечить финансовую безопасность, снизить риски в этом направлении, делать честный, белый бизнес — наш выбор.
        p Получать выгоду закрывая кадровые вопросы - легко! Просто доверьте это TRUDOGO.
    .o-kompanii__button-block
      button.form__button Получить выгоду
