section.reviews
  .container.reviews__container
    .reviews__title Отзывы
    .reviews__list
      .reviews__item
        p.reviews__name Иван <span>15 июля 2021</span>
        .reviews__stars
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__number 5
        p.reviews__text Персонал нужен был срочно, поэтому мы заказали здесь массовый подбор (самостоятельно явно не успели бы найти работников, к тому же, явно нам бы подошёл далеко не каждый кандидат)
      .reviews__item
        p.reviews__name Иван <span>15 июля 2021</span>
        .reviews__stars
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__number 5
        p.reviews__text Персонал нужен был срочно, поэтому мы заказали здесь массовый подбор (самостоятельно явно не успели бы найти работников, к тому же, явно нам бы подошёл далеко не каждый кандидат)
      .reviews__item
        p.reviews__name Иван <span>15 июля 2021</span>
        .reviews__stars
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__star
            svg(width="19" height="18")
              use(xlink:href="img/sprite.svg#reviews-star")
          .reviews__number 5
        p.reviews__text Персонал нужен был срочно, поэтому мы заказали здесь массовый подбор (самостоятельно явно не успели бы найти работников, к тому же, явно нам бы подошёл далеко не каждый кандидат)
    button.reviews__button Все отзывы
