section.reviews1(id="reviews1")
  .container.reviews1__container
    h2.reviews1__title Отзывы
    .reviews1__list
      .animate__animated.animate__fadeInUp.wow.reviews1__item
        picture
          source(type="image/webp" srcset="img/review1.webp")
          img(src="img/review1.jpg" alt="")
      .animate__animated.animate__fadeInUp.wow.reviews1__item
        picture
          source(type="image/webp" srcset="img/review2.webp")
          img(src="img/review2.jpg" alt="")
      .animate__animated.animate__fadeInUp.wow.reviews1__item
        picture
          source(type="image/webp" srcset="img/review3.webp")
          img(src="img/review3.jpg" alt="")
      .animate__animated.animate__fadeInUp.wow.reviews1__item
        picture
          source(type="image/webp" srcset="img/review4.webp")
          img(src="img/review4.jpg" alt="")
