section.sergrid
  .container.sergrid__container
    .sergrid__list
      .sergrid__item
        .sergrid__item-picture
          picture
            source(type="image/webp" srcset="img/skladskoy.webp")
            img(src="img/skladskoy.jpg" alt="")
        .sergrid__text
          h3 Складской персонал
          p Цена: от 250 до 320 руб/час
          button Оставить заявку
      .sergrid__item
        .sergrid__item-picture
          picture
            source(type="image/webp" srcset="img/stroitelniy.webp")
            img(src="img/stroitelniy.jpg" alt="")
        .sergrid__text
          h3 Строительный персонал
          p Цена: от 250 до 500 руб/час
          button Оставить заявку
      .sergrid__item
        .sergrid__item-picture
          picture
            source(type="image/webp" srcset="img/proizvodstvenniy.webp")
            img(src="img/proizvodstvenniy.jpg" alt="")
        .sergrid__text
          h3 Производственный персонал
          p Цена: от 250 до 320 руб/час
          button Оставить заявку
      .sergrid__item
        .sergrid__item-picture
          picture
            source(type="image/webp" srcset="img/torgoviy.webp")
            img(src="img/torgoviy.jpg" alt="")
        .sergrid__text
          h3 Торговый персонал
          p Цена: от 250 до 350 руб/час
          button Оставить заявку
      .sergrid__item
        .sergrid__item-picture
          picture
            source(type="image/webp" srcset="img/lineyniy.webp")
            img(src="img/lineyniy.jpg" alt="")
        .sergrid__text
          h3 Линейный персонал
          p Цена: от 250 до 280 руб/час
          button Оставить заявку
      .sergrid__item
        .sergrid__item-picture
          picture
            source(type="image/webp" srcset="img/biznes.webp")
            img(src="img/biznes.jpg" alt="")
        .sergrid__text
          h3 Персонал бизнеса
          p Цена: от 250 до 320 руб/час
          button Оставить заявку
