section.sergrid
  .container.sergrid__container
    h1.service1__title Подбор временного персонала под проект
    .sergrid__list
      .sergrid__item
        .sergrid__item-picture
          picture
            source(type="image/webp" srcset="img/gruzchiki.webp")
            img(src="img/gruzchiki.jpg" alt="")
        .sergrid__text
          h3 Грузчики
          p Цена: от 250 до 320 руб/час
          button.form__button Оставить заявку
      .sergrid__item
        .sergrid__item-picture
          picture
            source(type="image/webp" srcset="img/komplektov.webp")
            img(src="img/komplektov.jpg" alt="")
        .sergrid__text
          h3 Комплектовщики
          p Цена: от 250 до 500 руб/час
          button.form__button Оставить заявку
      .sergrid__item
        .sergrid__item-picture
          picture
            source(type="image/webp" srcset="img/upakovshiki.webp")
            img(src="img/upakovshiki.jpg" alt="")
        .sergrid__text
          h3 Упаковщики
          p Цена: от 250 до 320 руб/час
          button.form__button Оставить заявку
      .sergrid__item
        .sergrid__item-picture
          picture
            source(type="image/webp" srcset="img/fasovshiki.webp")
            img(src="img/fasovshiki.jpg" alt="")
        .sergrid__text
          h3 Фасовщики
          p Цена: от 250 до 350 руб/час
          button.form__button Оставить заявку
      .sergrid__item
        .sergrid__item-picture
          picture
            source(type="image/webp" srcset="img/kassiry.webp")
            img(src="img/kassiry.jpg" alt="")
        .sergrid__text
          h3 Кассиры
          p Цена: от 250 до 280 руб/час
          button.form__button Оставить заявку
      .sergrid__item
        .sergrid__item-picture
          picture
            source(type="image/webp" srcset="img/raznorab.webp")
            img(src="img/raznorab.jpg" alt="")
        .sergrid__text
          h3 Разнорабочие
          p Цена: от 250 до 320 руб/час
          button.form__button Оставить заявку
