section.service1
  .container
    h1.service1__title Массовый подбор персонала
  .service1__content
    .animate__animated.animate__slideInLeft.wow.service1__picture
      picture
        source(type="image/webp" srcset="img/service2.webp")
        img(src="img/service2.jpg" alt="")
    .animate__animated.animate__slideInRight.wow.service1__slider
      .service1__slider-wrapper
        h3 Наша компания предоставляет услуги по массовому подбору производственного и рабочего персонала
        svg.service1__slider-svg(width="22" height="42")
          use(xlink:href="img/sprite.svg#lightning")
        .service1__slide-list.service2__slide-list
          .service1__slide-item
            p Мы работаем на рынке труда уже более 5 лет, за это время у нас накоплена огромная база данных, большой опыт и профессиональный подход. Все сотрудники которых мы предоставляем для работы, проходят тщательный отбор.
          .service1__slide-item
            p Благодаря услуге массового подбора персонала, вы сможете привлечь на необходимое время нужное вам количество работников. Такой подход широко применяется крупными и средними компаниями. Решение привлечь на определённое время наёмный персонал, без устройства его в штат компании позволяет сократить денежные затраты, в короткие сроки выполнить большой объём работ, ускорить производство и тд.
        .service1__buttons
          button.service1__button.service1__button--prev
            svg(width="33" height="24")
              use(xlink:href="img/sprite.svg#slider-arrow")
          .service1__button-list
          button.service1__button.service1__button--next
            svg(width="33" height="24")
              use(xlink:href="img/sprite.svg#slider-arrow")
