section.service1
  .container
    h1.service1__title Аутсорсинг рабочего персонала
  .service1__content
    .animate__animated.animate__slideInLeft.wow.service1__picture
      picture
        source(type="image/webp" srcset="img/service1.webp")
        img(src="img/service1.jpg" alt="")
    .animate__animated.animate__slideInRight.wow.service1__slider
      .service1__slider-wrapper
        h3 Существует ряд причин, по которым мы рекомендуем внедрить аутсорсинг персонала в существующую бизнес-модель предприятия:
        svg.service1__slider-svg(width="22" height="42")
          use(xlink:href="img/sprite.svg#lightning")
        .service1__slide-list
          .service1__slide-item
            p Экономия средств. Оплата только за эффективно отработанное время. Кадровый учёт полностью осуществляет аутсорсинговая компания.Заключая договор с аутсорсинговой компанией, вы освобождаете себя от траты времени и средств на найм, обучение сотрудников и расчёт заработной платы за сотрудников.
          .service1__slide-item
            p Продуктивность. Оплата поступает только за результат. Это мотивирует аутсерсера выполнить работу на профессиональном уровне.
          .service1__slide-item
            p Масштабность. Актуально для предприятий, масштабы которых постоянно растут. Отдавая непрофильные бизнес-процессы, можно направить ресурсы на развитие приоритетных направлений.
          .service1__slide-item
            p Команда профессионалов. Работа аутсорсеров специализируется на конкретных видах деятельности, у которых имеются все необходимые знания и технологии в сфере подбора персонала, они обладают широким кругозором и знаниями в области кадрового делопроизводства, а также в таких отраслях как психология, менеджмент, юриспруденция
        .service1__buttons
          button.service1__button.service1__button--prev
            svg(width="33" height="24")
              use(xlink:href="img/sprite.svg#slider-arrow")
          .service1__button-list
          button.service1__button.service1__button--next
            svg(width="33" height="24")
              use(xlink:href="img/sprite.svg#slider-arrow")
