section.services
  .container.services__container
    h2.services__title Оказываемые услуги
    .services__list
      .services__item
        .services__item-top
          svg.services__svg(width="61" height="51")
            use(xlink:href="img/sprite.svg#services1")
        .services__item-bottom
          strong Аутсорсинг персонала
          p Услуги по предоставлению персонала, включающие в себя предоставление личного менеджера управления объектом 24/7
      .services__item
        .services__item-top
          svg.services__svg(width="53" height="61")
            use(xlink:href="img/sprite.svg#services2")
        .services__item-bottom
          strong Массовый подбор
          p Предоставление большого количества персонала для крупных компаний в короткие сроки
      .services__item
        .services__item-top
          svg.services__svg(width="49" height="61")
            use(xlink:href="img/sprite.svg#services3")
        .services__item-bottom
          strong Персонал под проект
          p Наша компания предоставляет персонал на временной основе и на короткие сроки
