section.vacancies
  .container.vacancies__container
    h1.vacancies__title Вакансии
    .vacancies__list
      .vacancies__item
        button.vacancies__button.vacancies__button--show Разнорабочие от 39000 рублей
        .vacancies__text.vacancies__text--show
          .vacancies__text-item
            strong Условия:
            ul
              li Надежный работодатель.
              li Гарантия выплат 100%.
              li Обучение в день выхода на объект.
              li Оплата от 1500 руб. в день.
              li Работа, как на улице, так и в помещении.
          .vacancies__text-item
            strong Обязанности:
            ul
              li Разгрузка-погрузка стройматериалов.
              li Земельные работы.
              li Помощь мастерам на строительном объекте.
              li Уборка территории, раскидка пгс и т.д.
          .vacancies__text-item
            strong Требования:
            ul
              li Опыт не требуется.
              li Желание зарабатывать.
              li Трудолюбие.
      .vacancies__item
        button.vacancies__button Подсобные рабочие от 35000 рублей
        .vacancies__text
          .vacancies__text-item
            strong Условия:
            ul
              li Надежный работодатель.
              li Гарантия выплат 100%.
              li Обучение в день выхода на объект.
              li Оплата от 1500 руб. в день.
              li Работа, как на улице, так и в помещении.
          .vacancies__text-item
            strong Обязанности:
            ul
              li Разгрузка-погрузка стройматериалов.
              li Земельные работы.
              li Демонтаж.
              li Помощь мастерам на строительном объекте.
              li Уборка территории, раскидка пгс и т.д..
              li Работа с электроинструментами.
          .vacancies__text-item
            strong Требования:
            ul
              li Опыт не требуется.
              li Желание зарабатывать.
              li Трудолюбие.
      .vacancies__item
        button.vacancies__button Грузчики от 35000 рублей
        .vacancies__text
          .vacancies__text-item
            strong Условия:
            ul
              li Надежный работодатель.
              li Гарантия выплат 100%.
              li Обучение в день выхода на объект.
              li Оплата от 1500 руб. в день.
              li Работа, как на улице, так и в помещении.
          .vacancies__text-item
            strong Обязанности:
            ul
              li Разгрузка-погрузка стройматериалов.
              li Земельные работы.
              li Демонтаж.
              li Помощь мастерам на строительном объекте.
              li Уборка территории, раскидка пгс и т.д.
              li Работа с электроинструментами.
          .vacancies__text-item
            strong Требования:
            ul
              li Опыт не требуется.
              li Желание зарабатывать.
              li Трудолюбие.
    .vacancies__zayava
      button.form__button Оставить заявку
