section.vacancies
  .container.vacancies__container
    h1.vacancies__title Вакансии
    .vacancies__list
      .vacancies__item
        button.vacancies__button.vacancies__button--show Грузчики
        .vacancies__text.vacancies__text--show
          strong Требования к кандидатам:
          ul
            li Трудолюбив и ответственен в работе;
            li Готов к физическим нагрузкам;
            li Готов к работе в различные смены;
            li Нормально относишься к ранним подъёмам;
            li Предпочитаешь работать в динамичной среде;
          strong Твои повседневные задачи:
          ul
            li Заполнение торговых мест в зонах магазина;
            li Комплектовка заказов, передача на проверку и выдачу;
            li Упаковка товара;
          strong Мы предлагаем:
          ul
            li Полное соблюдение ТК РФ, официальное трудоустройство;
            li Различная занятость: от 20 до 40 часов в неделю;
            li Стабильные выплаты заработной платы (2 раза в месяц);
            li Двойная оплата работы в праздничные дни;
            li Обеспечение спецодеждой и защитной обувью;
            li Хорошо оборудованный и тёплый склад;
            li Программы обучения и профессионального роста;
      .vacancies__item
        button.vacancies__button Грузчики
        .vacancies__text
          strong Требования к кандидатам:
          ul
            li Трудолюбив и ответственен в работе;
            li Готов к физическим нагрузкам;
            li Готов к работе в различные смены;
            li Нормально относишься к ранним подъёмам;
              li Предпочитаешь работать в динамичной среде;
          strong Твои повседневные задачи:
          ul
            li Заполнение торговых мест в зонах магазина;
            li Комплектовка заказов, передача на проверку и выдачу;
            li Упаковка товара;
          strong Мы предлагаем:
            ul
            li Полное соблюдение ТК РФ, официальное трудоустройство;
            li Различная занятость: от 20 до 40 часов в неделю;
            li Стабильные выплаты заработной платы (2 раза в месяц);
            li Двойная оплата работы в праздничные дни;
            li Обеспечение спецодеждой и защитной обувью;
            li Хорошо оборудованный и тёплый склад;
            li Программы обучения и профессионального роста;
      .vacancies__item
        button.vacancies__button Грузчики
        .vacancies__text
          strong Требования к кандидатам:
          ul
            li Трудолюбив и ответственен в работе;
            li Готов к физическим нагрузкам;
            li Готов к работе в различные смены;
            li Нормально относишься к ранним подъёмам;
            li Предпочитаешь работать в динамичной среде;
          strong Твои повседневные задачи:
          ul
            li Заполнение торговых мест в зонах магазина;
            li Комплектовка заказов, передача на проверку и выдачу;
            li Упаковка товара;
          strong Мы предлагаем:
          ul
            li Полное соблюдение ТК РФ, официальное трудоустройство;
            li Различная занятость: от 20 до 40 часов в неделю;
            li Стабильные выплаты заработной платы (2 раза в месяц);
            li Двойная оплата работы в праздничные дни;
            li Обеспечение спецодеждой и защитной обувью;
            li Хорошо оборудованный и тёплый склад;
            li Программы обучения и профессионального роста;
      .vacancies__item
        button.vacancies__button Грузчики
        .vacancies__text
          strong Требования к кандидатам:
          ul
            li Трудолюбив и ответственен в работе;
            li Готов к физическим нагрузкам;
            li Готов к работе в различные смены;
            li Нормально относишься к ранним подъёмам;
            li Предпочитаешь работать в динамичной среде;
          strong Твои повседневные задачи:
          ul
            li Заполнение торговых мест в зонах магазина;
            li Комплектовка заказов, передача на проверку и выдачу;
            li Упаковка товара;
          strong Мы предлагаем:
          ul
            li Полное соблюдение ТК РФ, официальное трудоустройство;
            li Различная занятость: от 20 до 40 часов в неделю;
            li Стабильные выплаты заработной платы (2 раза в месяц);
            li Двойная оплата работы в праздничные дни;
            li Обеспечение спецодеждой и защитной обувью;
            li Хорошо оборудованный и тёплый склад;
            li Программы обучения и профессионального роста;
      .vacancies__item
        button.vacancies__button Грузчики
        .vacancies__text
          strong Требования к кандидатам:
          ul
            li Трудолюбив и ответственен в работе;
            li Готов к физическим нагрузкам;
            li Готов к работе в различные смены;
            li Нормально относишься к ранним подъёмам;
            li Предпочитаешь работать в динамичной среде;
          strong Твои повседневные задачи:
          ul
            li Заполнение торговых мест в зонах магазина;
            li Комплектовка заказов, передача на проверку и выдачу;
            li Упаковка товара;
          strong Мы предлагаем:
          ul
            li Полное соблюдение ТК РФ, официальное трудоустройство;
            li Различная занятость: от 20 до 40 часов в неделю;
            li Стабильные выплаты заработной платы (2 раза в месяц);
            li Двойная оплата работы в праздничные дни;
            li Обеспечение спецодеждой и защитной обувью;
            li Хорошо оборудованный и тёплый склад;
            li Программы обучения и профессионального роста;
    .vacancies__zayava
      button Оставить заявку
