.reviews {
  &__wrapper {
    width: 100%;
    overflow: hidden;
  }
  &__list {
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet-min) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__item {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #FAFAFB;
    box-sizing: border-box;
    @media (min-width: $tablet-min) {
      margin: 0 5px;
    }
    @media (min-width: $laptop-min) {
      width: 30%;
      margin: 0;
    }
  }
  &__name {
    font-weight: bold;
    span {
      font-weight: 400;
      color: #8E8E93;
    }
  }
  &__stars {
    display: flex;
    align-items: center;
  }
  &__star {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
  }
  &__number {
    margin-left: 15px;
    color: #E36E36;
    font-weight: bold;
  }
  &__button-block {
    width: 100%;
    display: flex;
    justify-content: center;
    @media (min-width: $tablet-min) {
      margin-top: 30px;
    }
  }
  &__button {
    width: 280px;
    height: 60px;
    font-size: 16px;
    background-color: #F1F1F1;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
}
