.service2 {
  &__slide-list {
    height: 410px;
    @media (min-width: 340px) {
      height: 360px;
    }
    @media (min-width: 390px) {
      height: 310px;
    }
    @media (min-width: 450px) {
      height: 260px;
    }
    @media (min-width: 540px) {
      height: 220px;
    }
    @media (min-width: 730px) {
      height: 170px;
    }
    @media (min-width: $tablet-min) {
      position: static;
      flex-direction: column;
      height: auto;
      overflow: visible;
    }
  }
}
