footer.page-footer
  .container.page-footer__container
    .page-footer__columns
      .page-footer__column
        h3 О нас
        ul
          li
            a(href="#") О компании
          li
            a(href="/#reviews1") Отзывы
          li
            a(href="/vacancies") Вакансии
      .page-footer__column
        h3 Услуги
        ul
          li
            a(href="/autsorsing") Аутсорсинг персонала
          li
            a(href="/massoviy-podbor") Массовый подбор персонала
          li
            a(href="/podbor-vremennogo") Персонал под проект
      .page-footer__column
        h3 Наши контакты
        ul
          li
            a(href="/contacts") Схема проезда
          li
            a(href="tel:+79033111305") +7 (903) 311-13-05
          li
            a(href="mailto:info@trudogo.ru") info@trudogo.ru
    .page-footer__bottom
      .page-footer__logo
        svg(width="125" height="28")
          use(xlink:href="img/sprite.svg#footer-logo")
      .page-footer__socials
        ul
          li
            a(href="#")
              svg(width="19" height="19")
                use(xlink:href="img/sprite.svg#instagram")
          li
            a(href="#")
              svg(width="22" height="16")
                use(xlink:href="img/sprite.svg#youtube")
          li
            a(href="#")
              svg(width="22" height="13")
                use(xlink:href="img/sprite.svg#vk")
.form__layout.form__layout--show
.form__popup.form__popup--show
  .form__content
    h2 Заказать персонал
    form
      input.form__name(placeholder="Имя")
      input.form__phone(placeholder="Телефон")
      input.form__mail(placeholder="Email")
      button(type="submit") Отправить
