header.page-header
  .top-header
    .container.top-header__container
      .top-header__city
        svg(width="20" height="24")
          use(xlink:href="img/sprite.svg#city")
        span Уфа, ул.Файзи Гаскарова 7
      a.top-header__phone(href="tel:+79033111305")
        svg(width="22" height="21")
          use(xlink:href="img/sprite.svg#phone")
        span +7 (903) 311-13-05
      a.top-header__info-mail(href="mailto:info@trudogo.ru")
        svg(width="22" height="18")
          use(xlink:href="img/sprite.svg#mail")
        .top-header__text-block
          span info@trudogo.ru
          span заказ услуг
      a.top-header__pers-mail(href="mailto:personal@trudogo.ru")
        svg(width="22" height="18")
          use(xlink:href="img/sprite.svg#mail")
        .top-header__text-block
          span personal@trudogo.ru
          span для соискателей
  .bottom-header
    .container.bottom-header__container
      .bottom-header__logo
        svg(width="125" height="28")
          use(xlink:href="img/sprite.svg#logo")
      .bottom-header__nav.main-nav
        button.main-nav__toggle
          span Меню
        ul.main-nav__list
          li.main-nav__item
            a(href="#") О компании
          li.main-nav__item.main-nav__item--under
            a(href="#") Услуги
            ul.main-nav__under-list
              li
                a(href="/autsorsing") Аутсорсинг персонала
              li
                a(href="/massoviy-podbor") Массовый подбор персонала
              li
                a(href="/podbor-vremennogo") Персонал под проект
          li.main-nav__item
            a(href="/#reviews1") Отзывы
          li.main-nav__item
            a(href="/vacncies") Вакансии
          li.main-nav__item
            a(href="/contacts") Контакты
