@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-BoldItalic.eot');
    src: local('Inter Bold Italic'), local('Inter-BoldItalic'),
        url('../fonts/Inter-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-BoldItalic.woff2') format('woff2'),
        url('../fonts/Inter-BoldItalic.woff') format('woff'),
        url('../fonts/Inter-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-MediumItalic.eot');
    src: local('Inter Medium Italic'), local('Inter-MediumItalic'),
        url('../fonts/Inter-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-MediumItalic.woff2') format('woff2'),
        url('../fonts/Inter-MediumItalic.woff') format('woff'),
        url('../fonts/Inter-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ThinItalicBETA.eot');
    src: local('Inter Thin Italic BETA'), local('Inter-ThinItalicBETA'),
        url('../fonts/Inter-ThinItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ThinItalicBETA.woff2') format('woff2'),
        url('../fonts/Inter-ThinItalicBETA.woff') format('woff'),
        url('../fonts/Inter-ThinItalicBETA.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Black.eot');
    src: local('Inter Black'), local('Inter-Black'),
        url('../fonts/Inter-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Black.woff2') format('woff2'),
        url('../fonts/Inter-Black.woff') format('woff'),
        url('../fonts/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-BlackItalic.eot');
    src: local('Inter Black Italic'), local('Inter-BlackItalic'),
        url('../fonts/Inter-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-BlackItalic.woff2') format('woff2'),
        url('../fonts/Inter-BlackItalic.woff') format('woff'),
        url('../fonts/Inter-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-LightBETA.eot');
    src: local('Inter Light BETA'), local('Inter-LightBETA'),
        url('../fonts/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-LightBETA.woff2') format('woff2'),
        url('../fonts/Inter-LightBETA.woff') format('woff'),
        url('../fonts/Inter-LightBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.eot');
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
        url('../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff'),
        url('../fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraBoldItalic.eot');
    src: local('Inter Extra Bold Italic'), local('Inter-ExtraBoldItalic'),
        url('../fonts/Inter-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Inter-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff'),
        url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraLightItalicBETA.eot');
    src: local('Inter Extra Light Italic BETA'), local('Inter-ExtraLightItalicBETA'),
        url('../fonts/Inter-ExtraLightItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ExtraLightItalicBETA.woff2') format('woff2'),
        url('../fonts/Inter-ExtraLightItalicBETA.woff') format('woff'),
        url('../fonts/Inter-ExtraLightItalicBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraLightBETA.eot');
    src: local('Inter Extra Light BETA'), local('Inter-ExtraLightBETA'),
        url('../fonts/Inter-ExtraLightBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ExtraLightBETA.woff2') format('woff2'),
        url('../fonts/Inter-ExtraLightBETA.woff') format('woff'),
        url('../fonts/Inter-ExtraLightBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraBold.eot');
    src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
        url('../fonts/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter-ExtraBold.woff') format('woff'),
        url('../fonts/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ThinBETA.eot');
    src: local('Inter Thin BETA'), local('Inter-ThinBETA'),
        url('../fonts/Inter-ThinBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ThinBETA.woff2') format('woff2'),
        url('../fonts/Inter-ThinBETA.woff') format('woff'),
        url('../fonts/Inter-ThinBETA.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-LightItalicBETA.eot');
    src: local('Inter Light Italic BETA'), local('Inter-LightItalicBETA'),
        url('../fonts/Inter-LightItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-LightItalicBETA.woff2') format('woff2'),
        url('../fonts/Inter-LightItalicBETA.woff') format('woff'),
        url('../fonts/Inter-LightItalicBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic.eot');
    src: local('Inter Italic'), local('Inter-Italic'),
        url('../fonts/Inter-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Italic.woff2') format('woff2'),
        url('../fonts/Inter-Italic.woff') format('woff'),
        url('../fonts/Inter-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBoldItalic.eot');
    src: local('Inter Semi Bold Italic'), local('Inter-SemiBoldItalic'),
        url('../fonts/Inter-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Inter-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.eot');
    src: local('Inter Medium'), local('Inter-Medium'),
        url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter-Medium.woff') format('woff'),
        url('../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Thin.eot');
	src: local('Geometria Thin'), local('Geometria-Thin'),
		url('../fonts/Geometria-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Thin.woff') format('woff'),
		url('../fonts/Geometria-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-MediumItalic.eot');
	src: local('Geometria MediumItalic'), local('Geometria-MediumItalic'),
		url('../fonts/Geometria-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-MediumItalic.woff') format('woff'),
		url('../fonts/Geometria-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Italic.eot');
	src: local('Geometria Italic'), local('Geometria-Italic'),
		url('../fonts/Geometria-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Italic.woff') format('woff'),
		url('../fonts/Geometria-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Heavy.eot');
	src: local('Geometria Heavy'), local('Geometria-Heavy'),
		url('../fonts/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Heavy.woff') format('woff'),
		url('../fonts/Geometria-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-ExtraBoldItalic.eot');
	src: local('Geometria ExtraBoldItalic'), local('Geometria-ExtraBoldItalic'),
		url('../fonts/Geometria-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-ExtraBoldItalic.woff') format('woff'),
		url('../fonts/Geometria-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Medium.eot');
	src: local('Geometria Medium'), local('Geometria-Medium'),
		url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Medium.woff') format('woff'),
		url('../fonts/Geometria-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-BoldItalic.eot');
	src: local('Geometria BoldItalic'), local('Geometria-BoldItalic'),
		url('../fonts/Geometria-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-BoldItalic.woff') format('woff'),
		url('../fonts/Geometria-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-LightItalic.eot');
	src: local('Geometria LightItalic'), local('Geometria-LightItalic'),
		url('../fonts/Geometria-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-LightItalic.woff') format('woff'),
		url('../fonts/Geometria-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-HeavyItalic.eot');
	src: local('Geometria HeavyItalic'), local('Geometria-HeavyItalic'),
		url('../fonts/Geometria-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-HeavyItalic.woff') format('woff'),
		url('../fonts/Geometria-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria.eot');
	src: local('Geometria'),
		url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria.woff') format('woff'),
		url('../fonts/Geometria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Bold.eot');
	src: local('Geometria Bold'), local('Geometria-Bold'),
		url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Bold.woff') format('woff'),
		url('../fonts/Geometria-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-ExtraBold.eot');
	src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
		url('../fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-ExtraBold.woff') format('woff'),
		url('../fonts/Geometria-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-ThinItalic.eot');
	src: local('Geometria ThinItalic'), local('Geometria-ThinItalic'),
		url('../fonts/Geometria-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-ThinItalic.woff') format('woff'),
		url('../fonts/Geometria-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-ExtraLightItalic.eot');
	src: local('Geometria ExtraLightItalic'), local('Geometria-ExtraLightItalic'),
		url('../fonts/Geometria-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-ExtraLightItalic.woff') format('woff'),
		url('../fonts/Geometria-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Light.eot');
	src: local('Geometria Light'), local('Geometria-Light'),
		url('../fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Light.woff') format('woff'),
		url('../fonts/Geometria-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-ExtraLight.eot');
	src: local('Geometria ExtraLight'), local('Geometria-ExtraLight'),
		url('../fonts/Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-ExtraLight.woff') format('woff'),
		url('../fonts/Geometria-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
