.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
html {
	font-size: 10px;
}
img {
	max-width: 100%;
	height: auto;
}
picture {line-height: 0;}
.container {
	width: calc(100% - 40px);
	max-width: 1340px;
	padding-left: $phone-paddings;
	padding-right: $phone-paddings;
	margin: 0 auto;
	@media (min-width: $tablet-min) {
		width: calc(100% - 60px);
		padding-left: $tablet-paddings;
		padding-right: $tablet-paddings;
	}
	@media (min-width: $laptop-min) {
		width: calc(100% - 100px);
		padding-left: $desktop-paddings;
		padding-right: $desktop-paddings;
	}
}
body, p, span, ol, ul {
	font-family: 'Inter';
	font-weight: normal;
	font-size: 16px;
}
main.primary {
	padding-top: 50px;
}
h1, h2 {
	font-weight: bold;
}
h1 {
	font-family: 'Geometria';
	font-size: 35px;
	font-weight: bold;
}
h2 {
	font-size: 30px;
	@media (min-width: $tablet-min) {
		font-size: 45px;
	}
	@media (min-width: $laptop-min) {
		font-size: 60px;
	}
}
h3 {
	font-size: 16px;
}
@media (max-width: $tablet-max) {
	a, button {outline: 0;}
}
a {
  text-decoration: none;
}
.page-main {
	padding-top: 50px;
	@media (min-width: $tablet-min) {
		padding-top: 80px;
	}
	@media (min-width: $laptop-min) {
		padding-top: 0;
	}
}
@keyframes from-top {
	0% {transform: translateY(-2000px);}
	70% {transform: translateY(30px);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY(0);}
}
@keyframes from-right {
	0% {transform: translateX(100%);}
	70% {transform: translateX(-20px);}
	90% {transform: translateX(10px);}
	100% {transform: translateX(0);}
}
@keyframes from-right-reverse {
	0% {transform: translateX(0);}
	10% {transform: translateX(10px);}
	30% {transform: translateX(-20px);}
	100% {transform: translateX(100%);}
}
@keyframes wiggle {
	1% {transform: translateX(3px) rotate(2deg);}
	2% {transform: translateX(-3px) rotate(-2deg);}
	3% {transform: translateX(3px) rotate(2deg);}
	4% {transform: translateX(-3px) rotate(-2deg);}
	5% {transform: translateX(2px) rotate(1deg);}
	6% {transform: translateX(-2px) rotate(-1deg);}
	7% {transform: translateX(2px) rotate(1deg);}
	8% {transform: translateX(-2px) rotate(-1deg);}
	9% {transform: translateX(1px) rotate(0);}
	10% {transform: translateX(-1px) rotate(0);}
}
