extends common/layout

block content
  main.page-main
    include includes/main-slider.pug
    include includes/advantages.pug
    include includes/services.pug
    include includes/clients.pug
    include includes/girl-form.pug
    include includes/reviews.pug
    include includes/contacts.pug
