extends common/layout

block content
  main.page-main
    include includes/service2.pug
    include includes/sergrid2.pug
    include includes/advantages.pug
    include includes/scheme.pug
    include includes/numbers.pug
    include includes/trust.pug
    include includes/girl-form.pug
    include includes/reviews.pug
    include includes/contacts.pug
